
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
}

.dashboard{
    display:flex;
}

.sidebar{
    width:240px;
    min-height:100vh;
    background:#1e293b;
    color:white;
    padding:25px;
}

.sidebar h2{
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin:20px 0;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    border-radius:8px;
}

.sidebar li:hover{
    background:#334155;
}

.main-content{
    flex:1;
}

.navbar{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:30px;
}

.stat-card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.stat-card h3{
    color:#666;
}

.stat-card h1{
    margin-top:15px;
    color:#111827;
}
.ai-box{
    background:white;
    margin:30px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.ai-box button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

.ai-box button:hover{
    background:#1d4ed8;
}